In [3]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv("C:\\Users\\fasy\\Downloads\\cars.csv")

In [5]:
data

    enginesize  carlength  carwidth  carheight  price
0          130      168.8      64.1       48.8  13495
1          130      168.8      64.1       48.8  16500
2          152      171.2      65.5       52.4  16500
3          109      176.6      66.2       54.3  13950
4          136      176.6      66.4       54.3  17450
..         ...        ...       ...        ...    ...
94          97      165.3      63.8       54.5   7299
95          97      165.6      63.8       53.3   7799
96          97      165.3      63.8       54.5   7499
97          97      170.2      63.8       53.5   7999
98          97      162.4      63.8       53.3   8249

[99 rows x 5 columns]

In [5]:
x=data[["enginesize","carheight"]].values
y=data["price"].values
a=data[["carlength","carwidth"]].values

In [8]:
class LinearRrgression:
    def __init__(self,lrate=0.01,iterations=1000):
        self.lrate=lrate
        self.iterations=iterations
    def fitGD(self,x,y):
        self.cost=[]
        self.theta=np.zeros((1+x.shape[1]))
        n=x.shape[0]
        
        
        for i in range(self.iterations):
            yperd=self.theta[0]+np.dot(x,self.theta[1:])
            mse=(1/n)*np.sum((yperd-y)**2)
            self.cost.append(mse)
            
            dtheta1=(2/n)*np.dot(x.T,(yperd-y))
            dtheta0=(2/n)*np.sum(yperd-y)
            
        
            self.theta[1:]=self.theta[1:]-self.lrate*dtheta1
            self.theta[0]=self.theta[0]-self.lrate*dtheta0
        return self
    def predictGD(self,x):
        return self.theta[0]+np.dot(x,self.theta[1:])
    
    def fitNQ(self,x,y):
        z=np.ones((x.shape[0],1))
        x=np.append(z,x,axis=1)
        self.thetas=np.linalg.pinv(x.T.dot(x)).dot(x.T).dot(y)
        return self
    
        
        
    def perdictNpQ(self,x):
        z=np.ones((x.shape[0],1))
        x=np.append(z,x,axis=1)
        return np.dot(x,self.thetas)

In [10]:
def scale(x):
    x_scaled=x-np.mean(x,axis=0)
    x_scaled=x_scaled/np.std(x_scaled,axis=0)
    return x_scaled

In [11]:
x_sd=scale(x)
lr=LinearRrgression()
lr.fitGD(x_sd,y)
lr.fitNQ(x,y)

In [12]:
y_pred=lr.predictGD(x_sd)
y_predNQ=lr.perdictNpQ(x)

In [13]:
errors=np.sum((y_pred-y)**2)
sst=np.sum((y-np.mean(y))**2)
r2_GD=1-(errors/sst)
adjsted_GD=1-((1-r2_GD)*(x.shape[0]-1)/(x.shape[0]-x.shape[1]-1))

In [14]:
errors=np.sum((y_predNQ-y)**2)
sst=np.sum((y-np.mean(y))**2)
r2_NQ=1-(errors/sst)
adjsted_NQ=1-((1-r2_NQ)*(x.shape[0]-1)/(x.shape[0]-x.shape[1]-1))

In [15]:
print(adjsted_GD)
print(adjsted_NQ)

0.8382745508251331
0.838274550825138